body, html {
  height: 100%;
}
/*//contacts */

.section_contact{
  height: auto;
  min-height: 100%;
  padding-top: 130px;
  padding-bottom: 90px;
}
.section_contact .wrapper{
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
}
.section_contact .tabs{
  background-color: transparent;
  height: 52px;
}
.section_contact .tabs .tab a{
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(0,0,0,0.15);
}
.section_contact input[type=name],
.section_contact input[type=text],
.section_contact input[type=tel],
.section_contact input[type=submit] {
  width: 100%;
  float: none;
}
.custom_page_callback_form .intl-tel-input {
    /* margin-bottom: 20px; */
    width: 100%;
}
.rieltor{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.rieltor input.rieltor__input{
  width: 48%;
}
#footer_callback_form_phone {
  width: 100%;
}
.contact_form{
  width: 49%;
  height: auto;
  padding: 40px;
}
.contact_info{
  width: 49%;
  padding: 40px;
}
.contact_form .form_name{
  margin-top: 30px;
}
.section_contact .tabs .indicator {
  background-color: #444444;
  display: none;
}
.section_contact .tabs .tab a:hover,
.section_contact .tabs .tab a.active {
    background-color: rgba(0,0,0,0.4);
}

/*o-nas*/
.section_one{
  height: 2045px;
  position: static;
}
.one_slider {
  margin-top: 480px;
  height: 870px;
}

/*developer*/
.section_seven{
  padding: 75px 0 150px;
}

/*infrastructura*/
.section_four{
  margin-top: 50px;
}
.four_render .section_name{
  width: 550px;
  background-color: rgba(0, 0, 0,0.4);
  margin:100px auto 0;
}
/*location*/
.section_two {
  padding-top: 85px;
}
.section_three {
  padding-bottom: 90px;
}

@media only screen and (max-width:1180px) {
  .one_slider {
    margin-top: 380px;
    height: auto;
}
}

@media only screen and (max-width:768px) {
.contact_form,
.contact_info{
  width: 100%;
}
.section_contact {
  padding-bottom: 140px;
}
#footer_callback_form_name {
    width: 100%;
}
.rieltor input.rieltor__input {
    width: 100%;
}

  .four_render.parallax-container{
    height: 150px;
  }
  .four_render .section_name {
    width: 100%;
    margin: 65px auto 0;
}
.section_five{
  padding-bottom: 150px;
}
.section_five .parallax-container{
  height: 230px;
}
.section_two {
  padding-top: 60px;
}
.section_three {
  height: 1086px;
  margin-bottom: 150px;
}
#map {
    height: 800px;
}

}
@media only screen and (max-width: 470px) {
  .contact_form {
    padding: 10px 0px;
  }
  .section_contact .tabs .tab a{
    font-size: 14px;
  }
  .contact_form .form_name {
    margin-top: 6px;
    margin-bottom: 6px;
}
}
